@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-btn {
  color: black;
  background-color: white;
  border: solid 1px black;
  transition: color 0.7s ease, background-color 0.7s ease;
}
.primary-btn:hover {
  color: white;
  background-color: black;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
